@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  width: 550px;
  height: 853px;
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
